ShedWeb/Service References/ShedService/ShedService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="upLoadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataInfo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upLoadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upLoadDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getData">
        <s:complexType />
      </s:element>
      <s:element name="getDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendCommand">
        <s:complexType />
      </s:element>
      <s:element name="sendCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendCommandResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveCommand">
        <s:complexType />
      </s:element>
      <s:element name="receiveCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="receiveCommandResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clearCommand">
        <s:complexType />
      </s:element>
      <s:element name="clearCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="clearCommandResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getExceptionRecord">
        <s:complexType />
      </s:element>
      <s:element name="getExceptionRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getExceptionRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLogInfo">
        <s:complexType />
      </s:element>
      <s:element name="getLogInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLogInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="upLoadDataSoapIn">
    <wsdl:part name="parameters" element="tns:upLoadData" />
  </wsdl:message>
  <wsdl:message name="upLoadDataSoapOut">
    <wsdl:part name="parameters" element="tns:upLoadDataResponse" />
  </wsdl:message>
  <wsdl:message name="getDataSoapIn">
    <wsdl:part name="parameters" element="tns:getData" />
  </wsdl:message>
  <wsdl:message name="getDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDataResponse" />
  </wsdl:message>
  <wsdl:message name="sendCommandSoapIn">
    <wsdl:part name="parameters" element="tns:sendCommand" />
  </wsdl:message>
  <wsdl:message name="sendCommandSoapOut">
    <wsdl:part name="parameters" element="tns:sendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="receiveCommandSoapIn">
    <wsdl:part name="parameters" element="tns:receiveCommand" />
  </wsdl:message>
  <wsdl:message name="receiveCommandSoapOut">
    <wsdl:part name="parameters" element="tns:receiveCommandResponse" />
  </wsdl:message>
  <wsdl:message name="clearCommandSoapIn">
    <wsdl:part name="parameters" element="tns:clearCommand" />
  </wsdl:message>
  <wsdl:message name="clearCommandSoapOut">
    <wsdl:part name="parameters" element="tns:clearCommandResponse" />
  </wsdl:message>
  <wsdl:message name="getExceptionRecordSoapIn">
    <wsdl:part name="parameters" element="tns:getExceptionRecord" />
  </wsdl:message>
  <wsdl:message name="getExceptionRecordSoapOut">
    <wsdl:part name="parameters" element="tns:getExceptionRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getLogInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getLogInfo" />
  </wsdl:message>
  <wsdl:message name="getLogInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getLogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="upLoadDataHttpGetIn">
    <wsdl:part name="nID" type="s:string" />
    <wsdl:part name="dataType" type="s:string" />
    <wsdl:part name="dataInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="upLoadDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDataHttpGetIn" />
  <wsdl:message name="getDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sendCommandHttpGetIn" />
  <wsdl:message name="sendCommandHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="receiveCommandHttpGetIn" />
  <wsdl:message name="receiveCommandHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="clearCommandHttpGetIn" />
  <wsdl:message name="clearCommandHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="getExceptionRecordHttpGetIn" />
  <wsdl:message name="getExceptionRecordHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLogInfoHttpGetIn" />
  <wsdl:message name="getLogInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="upLoadDataHttpPostIn">
    <wsdl:part name="nID" type="s:string" />
    <wsdl:part name="dataType" type="s:string" />
    <wsdl:part name="dataInfo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="upLoadDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getDataHttpPostIn" />
  <wsdl:message name="getDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="sendCommandHttpPostIn" />
  <wsdl:message name="sendCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="receiveCommandHttpPostIn" />
  <wsdl:message name="receiveCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="clearCommandHttpPostIn" />
  <wsdl:message name="clearCommandHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="getExceptionRecordHttpPostIn" />
  <wsdl:message name="getExceptionRecordHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getLogInfoHttpPostIn" />
  <wsdl:message name="getLogInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ShedServiceSoap">
    <wsdl:operation name="upLoadData">
      <wsdl:input message="tns:upLoadDataSoapIn" />
      <wsdl:output message="tns:upLoadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataSoapIn" />
      <wsdl:output message="tns:getDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <wsdl:input message="tns:sendCommandSoapIn" />
      <wsdl:output message="tns:sendCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <wsdl:input message="tns:receiveCommandSoapIn" />
      <wsdl:output message="tns:receiveCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <wsdl:input message="tns:clearCommandSoapIn" />
      <wsdl:output message="tns:clearCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <wsdl:input message="tns:getExceptionRecordSoapIn" />
      <wsdl:output message="tns:getExceptionRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <wsdl:input message="tns:getLogInfoSoapIn" />
      <wsdl:output message="tns:getLogInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ShedServiceHttpGet">
    <wsdl:operation name="upLoadData">
      <wsdl:input message="tns:upLoadDataHttpGetIn" />
      <wsdl:output message="tns:upLoadDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataHttpGetIn" />
      <wsdl:output message="tns:getDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <wsdl:input message="tns:sendCommandHttpGetIn" />
      <wsdl:output message="tns:sendCommandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <wsdl:input message="tns:receiveCommandHttpGetIn" />
      <wsdl:output message="tns:receiveCommandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <wsdl:input message="tns:clearCommandHttpGetIn" />
      <wsdl:output message="tns:clearCommandHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <wsdl:input message="tns:getExceptionRecordHttpGetIn" />
      <wsdl:output message="tns:getExceptionRecordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <wsdl:input message="tns:getLogInfoHttpGetIn" />
      <wsdl:output message="tns:getLogInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ShedServiceHttpPost">
    <wsdl:operation name="upLoadData">
      <wsdl:input message="tns:upLoadDataHttpPostIn" />
      <wsdl:output message="tns:upLoadDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getData">
      <wsdl:input message="tns:getDataHttpPostIn" />
      <wsdl:output message="tns:getDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <wsdl:input message="tns:sendCommandHttpPostIn" />
      <wsdl:output message="tns:sendCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <wsdl:input message="tns:receiveCommandHttpPostIn" />
      <wsdl:output message="tns:receiveCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <wsdl:input message="tns:clearCommandHttpPostIn" />
      <wsdl:output message="tns:clearCommandHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <wsdl:input message="tns:getExceptionRecordHttpPostIn" />
      <wsdl:output message="tns:getExceptionRecordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <wsdl:input message="tns:getLogInfoHttpPostIn" />
      <wsdl:output message="tns:getLogInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShedServiceSoap" type="tns:ShedServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="upLoadData">
      <soap:operation soapAction="http://tempuri.org/upLoadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <soap:operation soapAction="http://tempuri.org/sendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <soap:operation soapAction="http://tempuri.org/receiveCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <soap:operation soapAction="http://tempuri.org/clearCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <soap:operation soapAction="http://tempuri.org/getExceptionRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <soap:operation soapAction="http://tempuri.org/getLogInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShedServiceSoap12" type="tns:ShedServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="upLoadData">
      <soap12:operation soapAction="http://tempuri.org/upLoadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <soap12:operation soapAction="http://tempuri.org/getData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <soap12:operation soapAction="http://tempuri.org/sendCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <soap12:operation soapAction="http://tempuri.org/receiveCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <soap12:operation soapAction="http://tempuri.org/clearCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <soap12:operation soapAction="http://tempuri.org/getExceptionRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <soap12:operation soapAction="http://tempuri.org/getLogInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShedServiceHttpGet" type="tns:ShedServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="upLoadData">
      <http:operation location="/upLoadData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <http:operation location="/getData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <http:operation location="/sendCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <http:operation location="/receiveCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <http:operation location="/clearCommand" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <http:operation location="/getExceptionRecord" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <http:operation location="/getLogInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShedServiceHttpPost" type="tns:ShedServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="upLoadData">
      <http:operation location="/upLoadData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getData">
      <http:operation location="/getData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendCommand">
      <http:operation location="/sendCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveCommand">
      <http:operation location="/receiveCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCommand">
      <http:operation location="/clearCommand" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExceptionRecord">
      <http:operation location="/getExceptionRecord" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLogInfo">
      <http:operation location="/getLogInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShedService">
    <wsdl:port name="ShedServiceSoap" binding="tns:ShedServiceSoap">
      <soap:address location="http://192.168.5.55:32560/ShedService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShedServiceSoap12" binding="tns:ShedServiceSoap12">
      <soap12:address location="http://192.168.5.55:32560/ShedService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShedServiceHttpGet" binding="tns:ShedServiceHttpGet">
      <http:address location="http://192.168.5.55:32560/ShedService.asmx" />
    </wsdl:port>
    <wsdl:port name="ShedServiceHttpPost" binding="tns:ShedServiceHttpPost">
      <http:address location="http://192.168.5.55:32560/ShedService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>